.text-left{
    text-align: left;
}
.text-right{
     text-align: right;
 }

.ios-6-arrow.bwn.right:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #857138;
    -webkit-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -ms-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    display: inline-block;
    border-radius: 0 6px 0 6px;
    border-top-left-radius: 8px 1px;
    border-bottom-right-radius: 1px 8px;
    position: absolute;
    top: 26px;
    right: 15px;
    width: 30px;
    height: 29px;
    content: "";
    border-width: 0 0 1px 1px;
    border-color: transparent transparent transparent #857138;
    border-style: solid;
    background-position: -1px 0;
    background-repeat: no-repeat;

}

.ios-6-arrow.bwn.right:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #857138;
    text-shadow: 0 -1px 0 #b7a676;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    top: 0;
    right: 8px;
    margin: 0;
    padding: 20px 20px 20px 20px;

    height: 20px;
    color: #fff;
    content: attr(data-title);
    text-decoration: none;
    white-space: nowrap;
    line-height: 2px;
    border-width: 0 0 1px 0;
    border-color: #b7a676;
    border-style: solid;
    font-weight: 500;
    font-size: 16px;
    font-family:Ubuntu, "Ubuntu Condensed", "Ubuntu Light", Ubuntu-Title;
}

.ios-6-arrow.bwn.left:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #857138;
    text-shadow: 0 -1px 0 #b7a676;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    top: 0;
    right: -18px;
    margin: 0;
    padding: 20px 20px 20px 20px;

    height: 20px;
    color: #fff;
    content: attr(data-title);
    text-decoration: none;
    white-space: nowrap;
    line-height: 2px;
    border-width: 0 0 1px 0;
    border-color: #b7a676;
    border-style: solid;
    font-weight: 500;
    font-size: 16px;
    font-family:Ubuntu, "Ubuntu Condensed", "Ubuntu Light", Ubuntu-Title;


}

.ios-6-arrow.bwn.left:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #857138;
    -webkit-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -ms-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    display: inline-block;
    border-radius: 0 6px 0 6px;
    border-top-left-radius: 8px 1px;
    border-bottom-right-radius: 1px 8px;
    position: absolute;
    top: 26px;
    left: 20px;
    width: 30px;
    height: 29px;
    content: "";
    border-width: 0 0 1px 1px;
    border-color: transparent transparent transparent #857138;
    border-style: solid;
    background-position: -1px 0;
    background-repeat: no-repeat;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('./../images/loading.gif') 50% 50% no-repeat;
}

.previous-btn{
    width:auto !important;
    float: left;
}

.next-btn{
    width: auto !important;
    float: right;
}

.submit-to-socialize, .send-invitation-btn{
    background-color:white;
    float: right;
    margin-top: 13px;
}

.submit-to-socialize:hover,.submit-to-socialize:focus,.submit-to-socialize:active,
.send-invitation-btn:hover,.send-invitation-btn:focus,.send-invitation-btn:active{
    background-color:white;
}

.toast-top-full-width {
    top: 78px;
}

#toast-container.toast-top-full-width>div, #toast-container.toast-bottom-full-width>div {
    width: 77%;
}

#toast-container>div {
    padding: 2px 8px 2px 5px;
}

#toast-container .toast-error,#toast-container .toast-success {
    background-image: none !important;
}

.error header {
    font-size: 21px;
    color: #0069b5;
}

.error .description {
    background-color: #fcfcfc;
    width: 77%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    word-wrap: break-word;
}

.error .errorMsg {
    font-weight: bolder;
    font-size: 14px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.spb-confirm-click-modal .modal-dialog{
    top: 174px;
}

.login-container{
    margin-top: 10%;
    color: rgb(236, 236, 236);
    font-size: xx-large;
    text-align: center;
}

.username-header{
    color: white;
    width: 94%;
    text-align: right;
    margin: 5px;
}

.send-invite-link, .back-btn{
    color: white;
    float: left;
    margin-top: -40px;
    text-decoration: underline;
}

.auto-expand {
    overflow: hidden;
    min-height: 33px;
}