/*!
 * wipfli.css v1.1.1
*/ 

/* GLOBAL STYLES */
body{background-color:#ae8422; padding-top: 55px; font-family: "PT Sans", sans-serif;}
h1 {color:#333; font-size:18px;}
h4 {color:#876401; font-size:20px; font-weight:500; text-align:center;}
label {color:#876401; font-size:16px; font-weight:500; display:block;}
p {color:#ae8422; font-size:14px;}


.list-group-item {color:#ae8422; font-size:14px;}
.logo{background-image:url('../images/logo.png');height:46px; width:165px; background-repeat:no-repeat; z-index:10000; position:absolute; left:20px;}
.spacer {margin-top: 15px; margin-bottom: 10px;}
.app-header {background-color:#876401; font-family:Raleway; font-size: 20px; color:#ffffff; margin-top: -5px;}
.tile {background-color: #fff; border-radius: 2px; margin: 0px; padding: 20px;}
.pg-section-details {}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
.usernm {background-color:#876401; color:#ffffff; font-size:16px; font-weight:bold; padding:4px; margin:9px 0px; border-radius:3px;}
.nav-tabs {color:#ffcd40!important; border-bottom:none;}
.nav-tabs > li > a {color:#ffcd40; font-size:12px; !important; font-weight:bold; border-bottom:none;}
.nav > li > a:hover, .nav > li > a:focus {background-color: #ffffff; text-decoration: none; color: #876401;}
.navbar {background-color: #ffcd40; height: 20px; border-bottom: 1px solid #ffcd40;}
.tile span {color:#666;}

.bline {border-bottom: 1px solid #efefef; margin: 10px 0 10px 0;}
.tpad {padding-top:10px;}
.target_tpad {margin-top:5px; margin-bottom: 20px;}
.form-control { border-radius:0px; box-shadow:none; color:#666; padding-left:5px; border-radius:3px; font-size:14px; font-weight:400}
.form-control:focus {border-color: #ae8422; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 205, 64, 0.4);}	
.btn-custm-ios {padding-top:20px; padding-right:20px; text-align:right;}
.btn-primary-custm {background-color:#857138; border-color:#857138;}
.btn-primary-custm:hover{ background-color: #ae8422; border-color:#857138;}
.btn-primary-custm:focus{ background-color: #ae8422; border-color:#857138;}
.btn-secondary-custm {background-color:#5d6967; border-color:#5d6967; font-size:12px;margin-top: 10px;}
.btn-secondary-custm:hover{ background-color: #ffcd40; border-color:#ffcd40;}
.btn-secondary-custm:focus{ background-color: #ffcd40; border-color:#ffcd40;}
.btn-poa {text-align:left;}

.haserror {border:1px solid #c70307;}
.errortext{color:#c70307!important; font-size:12px;}

.fa-trash {color:#a9aba9; font-size:18px;}
.fa-pencil-square-o {color:#a9aba9; font-size:18px;}

/*------------ ios button ---------*/
.ios-6-arrow.brown {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}




.ios-6-arrow.brown:hover:after {
  background-color: #ae8422;
}

.ios-6-arrow.brown:hover:before {
  background-color: #ae8422;

}


/* iPads (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px)
{
.usernm {margin:15px 30px;}

}


/* Smartphones (portrait and landscape)*/
@media only screen and (min-width : 320px) and (max-width : 480px) 
{
.btn-poa {text-align:center;}

}

@media only screen and (min-width: 640px) and (max-width: 1136px) {
    .modal.in .modal-dialog { top: -25px !important;}
}



