<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="SalesTrackerApp">
<head>
    <meta charset="utf-8">
    <base href="/app/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>the THRIVE network</title>
    <!-- Bootstrap -->
    <!-- Bootstrap core CSS -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Bootstrap theme -->

    <link href="./bower_components/toastr/toastr.min.css"
          rel="stylesheet">

    <!-- Custom CSS  -->
    <link href="./styles/wipfli.css" rel="stylesheet"/>
    <link href="./styles/dev.css" rel="stylesheet"/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/angular/angular.js"></script>

    <script src="./bower_components/angular-resource/angular-resource.js"></script>
    <script src="./bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <!--<script src="./bower_components/angular-touch/angular-touch.js"></script>-->
    <!--<script src="bower_components/angular-ui-select/dist/select.js"></script>-->
    <!--<script src="bower_components/angular-ui-bootstrap/src/alert/alert.js"></script>-->
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./bower_components/toastr/toastr.min.js"></script>

    <!--<script src="bower_components/angular-ui-utils/ui-utils.js"></script>-->
    <!--<script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>-->

    <script src="./scripts/app.js"></script>
    <script src="./scripts/config.js"></script>
    <script src="./scripts/routes.js"></script>
    <script src="./scripts/controllers/loginController.js"></script>
    <script src="./scripts/controllers/adminController.js"></script>
    <script src="./scripts/controllers/ClientController.js"></script>
    <script src="./scripts/controllers/ProspectController.js"></script>
    <script src="./scripts/controllers/errorController.js"></script>
    <script src="./scripts/services/SalesLeadService.js"></script>
    <script src="./scripts/directives/onlyInteger.js"></script>
    <script src="./scripts/directives/confirmClick.js"></script>
    <script src="./scripts/utils.js"></script>
</head>

<body>

<HEADER>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="logo"></div>
            <div class="pull-right usernm">
                KH
            </div>
        </div>
    </div>
</HEADER>


<!--------------- Header--------------->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 app-header text-center">the THRIVE network</div>
    </div>
</div>

<div ng-show="isUserHeaderVisible" class="username-header spacer" ng-bind="'Welcome ' +  loggedUser.username"></div>
<!--------------- Tabs--------------->
<div class="container spacer">
    <ng-view></ng-view>
</div>

<!--Loading Indicator -->
<span class="loading ng-cloak" ng-cloak ng-show="isLoading"></span>
<!--/Loading Indicator -->

<!--confirm click-->
<script type="text/ng-template" id="confirmClickModal.html">
    <div class="modal-header">
        <h3>{{confirmClickModalData.header}}</h3>
    </div>
    <div class="modal-body">
        <pre>{{confirmClickModalData.confirmClickMsg}}</pre>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-ok" ng-click="ok()">Ok</button>
        <button class="btn btn-default btn-cancel" ng-click="cancel()">Cancel</button>
    </div>
</script>
<!--/confirm click-->

</body>

</html>
