<a ng-href="#/welcome"class="btn btn-sm back-btn">Back</a>

<div ng-controller="adminController" class="tile">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad spacer">
            <label>Search User</label>
            <input class="form-control input-lg" ng-model="searchUserCriteria.username">
        </div>
        <div class="col-sm-12 col-xs-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th><input type="checkbox" ng-model="isAllUserChecked"
                                   ng-true-value="true" ng-false-value="false"
                                   ng-click="checkAllUser()"/></th>
                        <th>Name</th>
                    </tr>
                    <tr ng-repeat="user in users | filter :searchUserCriteria">
                        <td><input
                                type="checkbox"
                                name="selectedUsers[]"
                                value="{{user.id}}"
                                ng-checked="selectedUsers.indexOf(user.id) > -1"
                                ng-click="toggleSelection(user.id)">
                        </td>
                        <td><span ng-bind="user.username"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  text-center tpad">
            <label>Invitation Subject</label>
            <input ng-model="invitationSubject"
                   ng-attr-class="{{invitationSubjectError && 'form-control input-lg haserror' || 'form-control input-lg'}}" />
            <span ng-show="invitationSubjectError" class="errortext" ng-bind="invitationSubjectError"></span>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  text-center tpad">
            <label>Invitation Mail Body</label>
            <textarea ng-model="invitationDescription"
                  ng-attr-class="{{invitationDescriptionError && 'form-control input-lg  invitation-subject auto-expand haserror' || 'form-control invitation-subject auto-expand input-lg'}}" />
            <span ng-show="invitationDescriptionError" class="errortext" ng-bind="invitationDescriptionError"></span>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  text-center tpad send-invitation-btn btn-primary-custm">
            <button class="btn btn-md btn-primary"
                    ng-click="validateAndSendInvite()"
                    type="button" ng-disabled="btnDisabled || (selectedUsers.length<=0)">Send Invitation
            </button>
        </div>
    </div>
</div>
