<div class="container content-container">
    <div class="error" data-ng-controller="errorController">
        <header>{{errorCode == 500? "Oops, something went wrong" : "We\'re Sorry"}}</header>
        <div class="errorMsg" ng-bind="errorMsg"></div>
        <br />
        <pre class="description" ng-bind="errorDesc"></pre>
    </div>
</div>
