<div ng-controller="loginController" class="tile login-container">
    <span ng-bind="'Welcome ' + loggedUser.username"></span>
    <br/><br/>
    <a class="btn btn-primary btn-secondary-custm"
       href="" ng-click="proceed()"> Proceed </a>
</div>
