<a ng-href="#/admin"class="btn btn-sm send-invite-link" ng-show="loggedUser.role.toLowerCase() == 'role_admin'">Send Invite</a>
<tabset>
    <tab heading="TARGET CLIENT" class="target-client-tab">
        <div ng-controller="ClientController">
            <div>
                <div class="tile">
                    <div class="row">
                        <div class=" col-lg-8">
                            <label>Name</label>
                            <input type="text" ng-model="selectedClientName" placeholder="Type at least 3 chars" ng-hide="targetClientCurrentScreen !== 1 || readMode"
                                   ng-attr-class="{{clientError && 'form-control input-lg haserror' || 'form-control input-lg'}}"
                                   typeahead="client.name for client in searchClients($viewValue)" typeahead-loading="loadingClients"
                                   typeahead-on-select="clientSelected($item)">
                            <span ng-show="targetClientCurrentScreen !== 1 || readMode" ng-bind="selectedClientName"></span>
                            <button ng-show="targetClientCurrentScreen === 1 && readMode" class="btn btn-primary btn-secondary-custm"
                                    ng-click="readMode = false"> Edit </button>
                            <button ng-show="targetClientCurrentScreen === 1 && !readMode && isClientSocialized" class="btn btn-primary btn-secondary-custm"
                                    ng-click="readMode = true"> Cancel </button>
                            <!--<i ng-show="loadingClients" class="glyphicon glyphicon-refresh"></i>-->
                            <span ng-show="clientError" class="errortext" ng-bind="clientError"></span>

                        </div>
                    </div>
                </div>
                <div class="tile tpad target_tpad">
                    <div ng-show="targetClientCurrentScreen === 1">
                        <div class="row">
                            <fieldset disabled>
                                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                    <label>Region</label>
                                    <input ng-hide="readMode" class="form-control input-lg" ng-model="selectedClient.region.name">
                                    <span ng-show="readMode" ng-bind="selectedClient.region.name"></span>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                    <label>RPIC</label>
                                    <input ng-hide="readMode" class="form-control input-lg" ng-model="selectedClient.region.rpic">
                                    <span ng-show="readMode" ng-bind="selectedClient.region.rpic"></span>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                    <label>Industry</label>
                                    <input ng-hide="readMode" class="form-control input-lg" ng-model="selectedClient.industry.name">
                                    <span ng-show="readMode" ng-bind="selectedClient.industry.name"></span>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                    <label>IPIC</label>
                                    <input ng-hide="readMode" class="form-control input-lg" ng-model="selectedClient.industry.ipic">
                                    <span ng-show="readMode" ng-bind="selectedClient.industry.ipic"></span>
                                </div>
                            </fieldset>
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                <div class="bline hidden-lg hidden-md hidden-sm"></div>
                                <label>Current Annual Revenue $</label>
                                <input type="text" ng-model="currentAnnualRevenue" only-integer positive="true" decimal="0"
                                       formatter="premium" ng-hide="readMode"
                                       ng-attr-class="{{currentAnnualRevenueError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                <span ng-show="readMode" ng-bind="maskNumbers(currentAnnualRevenue,0,'$ ','',',')"></span>
                                <span ng-show="currentAnnualRevenueError" class="errortext" ng-bind="currentAnnualRevenueError"></span>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                <label>Potential Annual Revenue $</label>
                                <input type="text" ng-model="potentialAnnualRevenue" only-integer positive="true" decimal="0"
                                       formatter="premium" ng-hide="readMode"
                                       ng-attr-class="{{potentialAnnualRevenueError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                <span ng-show="readMode" ng-bind="maskNumbers(potentialAnnualRevenue,0,'$ ','',',')"></span>
                                <span ng-show="potentialAnnualRevenueError" class="errortext" ng-bind="potentialAnnualRevenueError"></span>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 tpad">
                                <div class="txt-black_fill">Gain: <span ng-bind="maskNumbers((potentialAnnualRevenue - currentAnnualRevenue),0,'$ ','',',')"></span></div>
                                <div class="bline hidden-lg hidden-md"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="targetClientCurrentScreen === 2">
                        <div class="row">
                            <div class="tile">
                                <h1>Plan of Action</h1>
                                <div  class="row">
                                    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                        <input type="text" ng-model="planOfActionToAdd"
                                               ng-attr-class="{{planOfActionToAddError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                        <span ng-show="planOfActionToAddError" class="errortext" ng-bind="planOfActionToAddError"></span>
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                                <p>
                                    <button  ng-hide="readMode" class="btn btn-primary btn-secondary-custm" ng-click="validateAndAddPlanOfActionToClient()"> Add </button>
                                    <button  ng-show="readMode" class="btn btn-primary btn-secondary-custm" ng-click="validateAndAddPlanOfAction()"> Add </button>
                                </p>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <table class="table" ng-hide="readMode">
                                            <tbody ng-repeat="planOfAction in clientPlanOfActions">
                                            <tr>
                                                <td>
                                                    <span ng-bind="planOfAction" ng-hide="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))" ></span>
                                                    <input type="text" ng-model="planOfActionToUpdate"
                                                           ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"
                                                           class="form-control input-lg"
                                                           ng-attr-class="{{planOfActionToUpdateError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                                    <span ng-show="planOfActionToUpdateError && (isPlanOfActionInEditMode && (planOfActionInEditMode == $index))" class="errortext" ng-bind="planOfActionToUpdateError"></span>
                                                </td>
                                                <td>
                                                    <i class="glyphicon glyphicon-pencil fa fa-pencil-square-o"
                                                       ng-hide="isPlanOfActionInEditMode"
                                                       ng-click="openPlanOfActionToEdit($index,planOfAction)"></i>
                                                    <i class="glyphicon glyphicon-ok fa fa-pencil-square-o"
                                                        ng-click="validateAndUpdateClientPlanOfAction(planOfActionToUpdate,planOfAction)"
                                                       ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"></i>
                                                </td>
                                                <td>
                                                    <span ng-hide="isPlanOfActionInEditMode">
                                                        <i class="glyphicon glyphicon-trash fa fa-trash"
                                                            confirm-click="Are you sure?"
                                                           ng-click="deletePlanOfActionFromClient(planOfAction)"></i>
                                                    </span>
                                                     <i class="glyphicon glyphicon-remove fa fa-pencil-square-o"
                                                        ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"
                                                        ng-click="cancelPlanOfActionEdit()"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table" ng-show="readMode">
                                            <tbody ng-repeat="planOfAction in planOfActions">
                                            <tr>
                                                <td>
                                                    <span ng-bind="planOfAction.description" ng-hide="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"></span>
                                                    <input type="text" ng-model="planOfActionToUpdate"
                                                           ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"
                                                           class="form-control input-lg"
                                                           ng-attr-class="{{planOfActionToUpdateError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                                    <span ng-show="planOfActionToUpdateError && (isPlanOfActionInEditMode && (planOfActionInEditMode == $index))" class="errortext" ng-bind="planOfActionToUpdateError"></span>
                                                </td>
                                                <td>
                                                    <i class="glyphicon glyphicon-pencil fa fa-pencil-square-o"
                                                       ng-hide="isPlanOfActionInEditMode"
                                                       ng-click="openPlanOfActionToEdit($index,planOfAction.description)"></i>
                                                    <i class="glyphicon glyphicon-ok fa fa-pencil-square-o"
                                                       ng-click="validateAndUpdatePlanOfAction(planOfActionToUpdate,planOfAction)"
                                                       ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"></i>
                                                </td>
                                                <td>
                                                    <span ng-hide="isPlanOfActionInEditMode">
                                                        <i class="glyphicon glyphicon-trash fa fa-trash"  confirm-click="Are you sure?" ng-click="deletePlanOfAction(planOfAction)"></i>
                                                    </span>
                                                    <i class="glyphicon glyphicon-remove fa fa-pencil-square-o"
                                                       ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"
                                                       ng-click="cancelPlanOfActionEdit()"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="targetClientCurrentScreen === 3">
                        <div class="row">
                            <div class="tile">
                                <h1>Others who identified Same Client</h1>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th>Name</th>
                                                <th>Potential Revenue</th>
                                            </tr>
                                            <tr  ng-repeat="targetClientCommonInterest in targetClientCommonInterests">
                                                <td><span ng-bind="targetClientCommonInterest.name"></span></td>
                                                <td><span ng-bind="maskNumbers(targetClientCommonInterest.potentialAnnualRevenue,0,'$ ','',',')"></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tile">
                                <h1>Add Collaborative Team Players</h1>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                        <input type="text" ng-model="collaborativeUserName" placeholder="Type at least 2 chars"
                                               typeahead="user.username for user in searchUsers($viewValue)" typeahead-loading="loadingUsers"
                                               typeahead-on-select="collaborativeUserSelected($item)"
                                               ng-attr-class="{{collaborativeUserToAddError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                        <span ng-show="collaborativeUserToAddError" class="errortext" ng-bind="collaborativeUserToAddError"></span>
                                    </div>
                                </div>
                                <p>
                                    <button class="btn btn-primary btn-secondary-custm"
                                            ng-disabled="btnDisabled"
                                            ng-click="addCollaborativeUser()"> Add </button>
                                </p>
                                <div>&nbsp;</div>
                                <h1>Collaborative Team Players</h1>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <table class="table">
                                            <tbody ng-repeat="collaborativeUser in collaborativeUsers">
                                            <tr>
                                                <td><span ng-bind="collaborativeUser.user.username"></span></td>
                                                <td><i class="glyphicon glyphicon-trash fa fa-trash" confirm-click="Are you sure?" ng-click="deleteCollaborativeUser(collaborativeUser)" ></i></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 btn-custm-ios text-left previous-btn">
                            <a class="ios-6-arrow left bwn" href="" data-title="Previous"
                               ng-show="targetClientCurrentScreen>1" ng-disabled="btnDisabled"
                               ng-click="targetClientCurrentScreen=targetClientCurrentScreen-1"></a>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 btn-custm-ios text-right next-btn">
                            <a class="ios-6-arrow right bwn" href="" data-title="Next"
                               ng-show="targetClientCurrentScreen<2 || (targetClientCurrentScreen==2 && readMode)" ng-disabled="btnDisabled"
                               ng-click="validateScreenGoToNext()"></a>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  text-center tpad submit-to-socialize btn-primary-custm">
                            <button class="btn btn-md btn-primary "
                                    ng-disabled="btnDisabled" ng-show="targetClientCurrentScreen===2 && !readMode"
                                    ng-click="submitToSocialize()"
                                    type="button">Submit to Socialize</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="TARGET PROSPECT" class="prospect-client-tab">
        <div ng-controller="ProspectController">
            <div>
                <div class="tile">
                    <div class="row">
                        <div class=" col-lg-8">
                            <label>Name</label>
                            <input type="text" ng-model="selectedClientName" ng-hide="targetProspectCurrentScreen !== 1 || readMode"
                                   ng-attr-class="{{clientError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                            <span ng-show="targetProspectCurrentScreen !== 1 || readMode" ng-bind="selectedClientName"></span>
                            <button ng-show="targetProspectCurrentScreen === 1 && readMode && isClientSocialized" class="btn btn-primary btn-secondary-custm"
                                    ng-click="editProspectClient()"> Edit </button>
                            <button ng-show="targetProspectCurrentScreen === 1 && !readMode && isClientSocialized" class="btn btn-primary btn-secondary-custm"
                                    ng-click="readMode = true"> Cancel </button>
                            <span ng-show="clientError" class="errortext" ng-bind="clientError"></span>

                        </div>
                    </div>
                </div>
                <div class="tile tpad target_tpad">
                    <div ng-show="targetProspectCurrentScreen === 1">
                        <div class="row">
                            <fieldset>
                                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                    <label>Region</label>
                                    <select ng-hide="readMode" ng-model="selectedRegion" ng-options="region.name for region in regions"
                                            ng-attr-class="{{regionError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                        <option  value="">Choose one</option>
                                    </select>
                                    <span ng-show="regionError" class="errortext" ng-bind="regionError"></span>
                                    <span ng-show="readMode" ng-bind="prospectClient.region.name"></span>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                    <label>RPIC</label>
                                    <input ng-hide="readMode" class="form-control input-lg" ng-model="selectedRegion.rpic" ng-disabled="true">
                                    <span ng-show="readMode" ng-bind="prospectClient.region.rpic"></span>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                    <label>Industry</label>
                                    <select ng-hide="readMode" ng-model="selectedIndustry" ng-options="industry.name for industry in industries"
                                            ng-attr-class="{{industryError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                        <option  value="">Choose one</option>
                                    </select>
                                    <span ng-show="industryError" class="errortext" ng-bind="industryError"></span>
                                    <span ng-show="readMode" ng-bind="prospectClient.industry.name"></span>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                    <label>IPIC</label>
                                    <input ng-hide="readMode" class="form-control input-lg" ng-model="selectedIndustry.ipic"  ng-disabled="true">
                                    <span ng-show="readMode" ng-bind="prospectClient.industry.ipic"></span>
                                </div>
                            </fieldset>
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad" ng-hide="true">
                                <div class="bline hidden-lg hidden-md hidden-sm"></div>
                                <label>Current Annual Revenue $</label>
                                <input type="text" ng-model="currentAnnualRevenue" only-integer positive="true" decimal="0"
                                       formatter="premium" ng-hide="readMode"
                                       ng-attr-class="{{currentAnnualRevenueError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                <span ng-show="readMode" ng-bind="maskNumbers(currentAnnualRevenue,0,'$ ','',',')"></span>
                                <span ng-show="currentAnnualRevenueError" class="errortext" ng-bind="currentAnnualRevenueError"></span>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                <label>Potential Annual Revenue $</label>
                                <input type="text" ng-model="potentialAnnualRevenue" only-integer positive="true" decimal="0"
                                       formatter="premium" ng-hide="readMode"
                                       ng-attr-class="{{potentialAnnualRevenueError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                <span ng-show="readMode" ng-bind="maskNumbers(potentialAnnualRevenue,0,'$ ','',',')"></span>
                                <span ng-show="potentialAnnualRevenueError" class="errortext" ng-bind="potentialAnnualRevenueError"></span>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 tpad" ng-hide="true">
                                <div class="txt-black_fill">Gain: <span ng-bind="maskNumbers((potentialAnnualRevenue - currentAnnualRevenue),0,'$ ','',',')"></span></div>
                                <div class="bline hidden-lg hidden-md"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="targetProspectCurrentScreen === 2">
                        <div class="row">
                            <div class="tile">
                                <h1>Plan of Action</h1>
                                <div  class="row">
                                    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                        <input type="text" ng-model="planOfActionToAdd"
                                               ng-attr-class="{{planOfActionToAddError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                        <span ng-show="planOfActionToAddError" class="errortext" ng-bind="planOfActionToAddError"></span>
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                                <p>
                                    <button  ng-hide="readMode" class="btn btn-primary btn-secondary-custm" ng-click="validateAndAddPlanOfActionToClient()"> Add </button>
                                    <button  ng-show="readMode" class="btn btn-primary btn-secondary-custm" ng-click="validateAndAddPlanOfAction()"> Add </button>
                                </p>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <table class="table" ng-hide="readMode">
                                            <tbody ng-repeat="planOfAction in clientPlanOfActions">
                                            <tr>
                                                <td>
                                                    <span ng-bind="planOfAction" ng-hide="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))" ></span>
                                                    <input type="text" ng-model="planOfActionToUpdate"
                                                           ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"
                                                           class="form-control input-lg"
                                                           ng-attr-class="{{planOfActionToUpdateError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                                    <span ng-show="planOfActionToUpdateError && (isPlanOfActionInEditMode && (planOfActionInEditMode == $index))" class="errortext" ng-bind="planOfActionToUpdateError"></span>
                                                </td>
                                                <td>
                                                    <i class="glyphicon glyphicon-pencil fa fa-pencil-square-o"
                                                       ng-hide="isPlanOfActionInEditMode"
                                                       ng-click="openPlanOfActionToEdit($index,planOfAction)"></i>
                                                    <i class="glyphicon glyphicon-ok fa fa-pencil-square-o"
                                                       ng-click="validateAndUpdateClientPlanOfAction(planOfActionToUpdate,planOfAction)"
                                                       ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"></i>
                                                </td>
                                                <td>
                                                    <span ng-hide="isPlanOfActionInEditMode">
                                                        <i class="glyphicon glyphicon-trash fa fa-trash"
                                                           confirm-click="Are you sure?"
                                                           ng-click="deletePlanOfActionFromClient(planOfAction)"></i>
                                                    </span>
                                                    <i class="glyphicon glyphicon-remove fa fa-pencil-square-o"
                                                       ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"
                                                       ng-click="cancelPlanOfActionEdit()"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table" ng-show="readMode">
                                            <tbody ng-repeat="planOfAction in planOfActions">
                                            <tr>
                                                <td>
                                                    <span ng-bind="planOfAction.description" ng-hide="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"></span>
                                                    <input type="text" ng-model="planOfActionToUpdate"
                                                           ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"
                                                           class="form-control input-lg"
                                                           ng-attr-class="{{planOfActionToUpdateError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                                    <span ng-show="planOfActionToUpdateError && (isPlanOfActionInEditMode && (planOfActionInEditMode == $index))" class="errortext" ng-bind="planOfActionToUpdateError"></span>
                                                </td>
                                                <td>
                                                    <i class="glyphicon glyphicon-pencil fa fa-pencil-square-o"
                                                       ng-hide="isPlanOfActionInEditMode"
                                                       ng-click="openPlanOfActionToEdit($index,planOfAction.description)"></i>
                                                    <i class="glyphicon glyphicon-ok fa fa-pencil-square-o"
                                                       ng-click="validateAndUpdatePlanOfAction(planOfActionToUpdate,planOfAction)"
                                                       ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"></i>
                                                </td>
                                                <td>
                                                    <span ng-hide="isPlanOfActionInEditMode">
                                                        <i class="glyphicon glyphicon-trash fa fa-trash"  confirm-click="Are you sure?" ng-click="deletePlanOfAction(planOfAction)"></i>
                                                    </span>
                                                    <i class="glyphicon glyphicon-remove fa fa-pencil-square-o"
                                                       ng-show="(isPlanOfActionInEditMode && (planOfActionInEditMode == $index))"
                                                       ng-click="cancelPlanOfActionEdit()"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="targetProspectCurrentScreen === 3">
                        <div class="row">
                            <div class="tile">
                                <h1>Others who identified Same Client</h1>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th>Name</th>
                                                <th>Potential Revenue</th>
                                            </tr>
                                            <tr  ng-repeat="targetProspectCommonInterest in targetProspectCommonInterests">
                                                <td><span ng-bind="targetProspectCommonInterest.name"></span></td>
                                                <td><span ng-bind="maskNumbers(targetProspectCommonInterest.potentialAnnualRevenue,0,'$ ','',',')"></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tile">
                                <h1>Add Collaborative Team Players</h1>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12 tpad">
                                        <input type="text" ng-model="collaborativeUserName" placeholder="Type at least 2 chars"
                                               typeahead="user.username for user in searchUsers($viewValue)" typeahead-loading="loadingUsers"
                                               typeahead-on-select="collaborativeUserSelected($item)"
                                        ng-attr-class="{{collaborativeUserToAddError && 'form-control input-lg haserror' || 'form-control input-lg'}}">
                                        <span ng-show="collaborativeUserToAddError" class="errortext" ng-bind="collaborativeUserToAddError"></span>
                                    </div>
                                </div>
                                <p>
                                    <button class="btn btn-primary btn-secondary-custm"
                                            ng-disabled="btnDisabled"
                                            ng-click="addCollaborativeUser()"> Add </button>
                                </p>
                                <div>&nbsp;</div>
                                <h1>Collaborative Team Players</h1>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <table class="table">
                                            <tbody ng-repeat="collaborativeUser in collaborativeUsers">
                                            <tr>
                                                <td><span ng-bind="collaborativeUser.user.username"></span></td>
                                                <td><i class="glyphicon glyphicon-trash fa fa-trash" confirm-click="Are you sure?" ng-click="deleteCollaborativeUser(collaborativeUser)" ></i></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 btn-custm-ios text-left previous-btn">
                            <a class="ios-6-arrow left bwn" href="" data-title="Previous"
                               ng-show="targetProspectCurrentScreen>1" ng-disabled="btnDisabled"
                               ng-click="targetProspectCurrentScreen=targetProspectCurrentScreen-1"></a>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 btn-custm-ios text-right next-btn">
                            <a class="ios-6-arrow right bwn" href="" data-title="Next"
                               ng-show="targetProspectCurrentScreen<2 || (targetProspectCurrentScreen==2 && readMode)" ng-disabled="btnDisabled"
                               ng-click="validateScreenGoToNext()"></a>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  text-center tpad submit-to-socialize btn-primary-custm">
                            <button class="btn btn-md btn-primary "
                                    ng-disabled="btnDisabled" ng-show="targetProspectCurrentScreen===2 && !readMode"
                                    ng-click="submitToSocialize()"
                                    type="button">Submit to Socialize</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>
